section#about
  h1.heading Who are we ?
  
  // Loops through each person in harp.json
  #staff
    each person, index in staff
      .person 
        .person-face
          img.avatar(src='#{ person[0] }', title="Click to see battletag")
        .player-avatar
          img.avatar(src='#{ person[1] }')
          .player-id(title="Click to see global ranking")
            span #{ index }
            
            each rank, index in ranks
              if index == person[2]
                img.rank(src='#{ rank }')
      
  p #{ about }
  
  h1.heading Would you like to help ?
  p Email us with your avaliablity and we will get in contact with you
  a(href='mailto:qutoverwatch@gmail.com?Subject=Volunteering') qutoverwatch@gmail.com
